{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/list.css' %}">
{% endblock %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Born</th>
          <th scope="col">Nationality</th>
          <th scope="col"><a href="{% url 'create-director' %}"><button class="add">Add</button></a></th>
        </tr>
      </thead>
    <tbody>
        {% for dir in directors %}
        <tr>
          <td>{{dir.first_name}}</td>
          <td>{{dir.last_name}}</td>
          <td>{{dir.born}}</td>
          <td>{{dir.nationality}}</td>
          <td><a href="{% url 'update-director' dir.id %}"><button class="update" style="margin-left: 0px;">Update</button></a>
            <a href="{% url 'delete-director' dir.id %}">  
            <button type="button" class="delete" 
                onclick="return confirm('Are you sure you want to delete {{dir.first_name}} {{dir.last_name}}?')">
                Delete</button></a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}