{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/list.css' %}">
{% endblock %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col"><a href="{% url 'create-publisher' %}"><button class="add">Add</button></a></th>
        </tr>
      </thead>
    <tbody>
        {% for pub in publishers %}
        <tr>
          <td>{{pub.name}}</td>
          <td>{{pub.address}}</td>
          <td><a href="{% url 'update-publisher' pub.id %}"><button class="update" style="margin-left: 0px;">Update</button></a>
              <a href="{% url 'delete-publisher' pub.id %}">
              <button type="button" class="delete" 
              onclick="return confirm('Are you sure you want to delete {{pub.name}}?')">Delete</button></a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}